* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Arial, Helvetica, Geneva, sans-serif;
  color: white;
}
p {
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    rgba(18, 80, 161, 0.8),
    rgba(28, 98, 179, 0.8)
  );
}

.container {
  padding: 0;
  margin-top: 7px;
  max-width: 1196px;
  text-align: center;
  border-radius: 20px;
}

form {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding-bottom: 10px;

  .test {
    max-width: 1196px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: rgba(25, 98, 179, 0.9);
    border-radius: 20px;
    padding: 7px;
    margin: 5px auto;
    color: white;
  }

  #taskcontent {
    width: 100%;
    height: 50px;
  }

  .bot {
    max-width: 1196px;
    margin: 0 auto;
  }

  #deadline {
    width: 500px;
    #date {
      margin-right: 40px;
    }
  }

  button {
    border-radius: 20px;
    border: none;
    background: none;
    font-weight: bold;
    background-color: rgba(25, 98, 179, 0.9);
    color: white;
    padding: 3px 12px;
    margin-right: 10px;
  }
}

ul {
  max-width: 1196px;
  list-style: none;
}

.task:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.17);

  .closeBtn {
    opacity: 1;
  }
}

.task {
  border-radius: 20px;
  position: relative;
  background-color: rgb(28, 98, 179);
  // background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.17);
  width: 270px;
  height: 225px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}

.content {
  margin-top: 4px;
  padding: 5px 0;
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  width: 90%;
  margin-bottom: 4px;
  text-align: left;
}

.content::-webkit-scrollbar {
  width: 12px;
}

.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.205);
}

.datetime {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.closeBtn {
  opacity: 0;
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all 0.2s ease-in-out;
}

input {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 0px 5px 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.123);
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.027);
  height: 27px;
}

h1 {
  color: rgb(25, 98, 179);
  padding-top: 10px;
  font-family: CustomCSS3Font;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@font-face {
  font-family: CustomCSS3Font;
  src: url(Roboto-BoldItalic.ttf);
}
